@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gamja+Flower&family=Hi+Melody&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.f_k_hiMelody {
	font-family: 'Hi Melody', cursive;
}
.f_k_dongle {
	font-family: 'Dongle', sans-serif;
}
.f_k_gamja {
	font-family: 'Gamja Flower', cursive;
}
.f_k_nanumPen {
	font-family: 'Nanum Pen Script', cursive;
}
.f_k_notoSans {
	font-family: 'Noto Sans KR', sans-serif;
}

.f_10 {
    font-size: 10px;
}
.f_12 {
    font-size: 12px;
}
.f_12_b {
    font-weight: 800;
    font-size: 12px;
}
.f_24_b {
    font-weight: 800;
    font-size: 24px;
}
.f_20_b {
    font-weight: 800;
    font-size: 20px;
}
.f_16 {
    font-size: 16px;
}
.f_16_b {
    font-weight: 800;
    font-size: 16px;
}
.f_14_b {
    font-weight: 800;
    font-size: 14px;
}
.f_14 {
    font-size: 14px;
}